* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Nunito", sans-serif;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to right bottom, #bf2e34, #753682);
  overflow: hidden;
}

/* .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.199);
  z-index: 5;
} */

.container {
  width: 100rem;
  height: 60rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 9px;
  margin: 6.8rem auto 0 auto;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(51, 51, 51, 0.301);
  z-index: 10;
  position: relative;
}

.player-1-box,
.player-2-box {
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  transition: all 0.3s;
}

.player-1,
.player-2 {
  font-size: 4rem;
  font-weight: 700;
  color: #333;
  text-transform: uppercase;
}
.player-1__score,
.player-2__score {
  font-size: 8rem;
  margin-top: -2rem;
  color: #bf2e34;
  font-weight: 400;
}
.current-score-box-1,
.current-score-box-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.8rem;
  /* justify-content: center; */
  height: 12rem;
  width: 20rem;
  border-radius: 9px;
  background-color: #c7365f;
  margin-top: 10rem;
}

.current-1,
.current-score-1,
.current-2,
.current-score-2 {
  font-size: 3.6rem;
  color: #fff;
  font-weight: 400;
  margin-top: 1.2rem;
}
.current-1,
.current-2 {
  font-size: 1.8rem;
  text-transform: uppercase;
}

.active {
  background-color: rgba(255, 255, 255, 0.6);
}

.btns-box {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60rem;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 4rem 0;
}

.btn {
  border: none;
  /* width:; */
  height: 5rem;
  border-radius: 100px;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 400;
  color: #777;
  transition: all 0.1s;
}

.btn:active {
  transform: translateY(3px);
}

.btn span {
  font-size: 2.4rem;
  display: inline-block;
  margin-right: 0.8rem;
  margin-left: -0.6rem;
}

.new-game-btn {
  width: 20rem;
  margin-bottom: 7.5rem;
}

.roll-dice-btn {
  width: 19rem;
  margin-bottom: 2rem;
}

.hold-btn {
  width: 14rem;
}

.dice {
  height: 10rem;
  width: 10rem;
  margin-bottom: 12.5rem;
}

.dice img {
  height: 10rem;
  width: 10rem;
}

.hide {
  display: none;
}

.winner {
  background-color: #2f2f2f;  
}

.winner-player {
  color: #bf2e34;
}